@model P2021_09_21_Web2_FIAE35.Models.Input
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <h1>Mach mir die Meldung!</h1>
    Der Zählerstand ist: @Model.zaehler
    <br />
    Die aktuelle Zeit: @Model.zeit
    <br />
    @foreach (var Name in Model.stringListe)
            {
                <p>@Name</p>
            }
</head>
<body>
</body>
</html>
